<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Signup</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
</head>

<body>

	<form method="post" th:action="@{/registrieren}"
		th:object="${benutzer}">
		<!--/* Show general error task when form contains errors */-->
		<fieldset>
			<legend>Please Sign Up</legend>
			<div>
				<label for="email">Email</label>
				<div>
					<input type="text" class="form-control" id="email"
						placeholder="Email address" th:field="*{email}" /> <span>Incorrect
						email</span>
				</div>
			</div>
			<div>
				<label for="password" class="col-lg-2 control-label">Password</label>
				<div>
					<input type="password" id="password" placeholder="Password"
						th:field="*{password}" /> <span></span>
				</div>
			</div>
			<div>
				<div>
					<button type="submit">Sign up</button>
				</div>
			</div>
			<div>
				<div>
					<p>
						Already have an account? <a href="anmelden" th:href="@{/anmelden}">Sign
							In</a>
					</p>
				</div>
			</div>
		</fieldset>
	</form>
</body>
</html>