<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forum</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container">
				<div class="content">
					<h1>Forum</h1>
					<p>Unten sehen Sie unsere Foren. Waehlen Sie einen Thread aus
						oder erstellen Sie einen neuen.</p>
					<p>Ankuendigungen</p>
					<p>Allgemeines Diskussionsforum</p>
					<p>Neuen Beitrag erstellen</p>
					<form th:object="${thema}" th:action="@{/forum/add}" method="post">
						<fieldset>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('thema_inhalt')}? 'has-error'">
								<label for="thema_inhalt">Inhalt</label> <input type="text"
									name="thema_inhalt" id="thema_inhalt"
									th:field="*{thema_inhalt}" />
								<div class="help-block" th:if="${#fields.hasErrors('thema_inhalt')}"
									th:errors="*{thema_inhalt}">Name Error</div>
								<br /> <input type="hidden" name="thema_ersteller"
									id="thema_ersteller"
									th:value="${#httpServletRequest.remoteUser}" /> <br /> <input
									class="btn btn-large btn-default" type="submit"
									value="Thema erstellen" />
							</div>
						</fieldset>
					</form>
					<h3>Themen</h3>
					<table class="table">
						<tr>
							<td><a href="/faq" th:href="@{/faq}">FAQ</a></td>
						</tr>
						<th:block th:each="thema : ${listThema}">
							<tr>
								<td th:text="${thema.thema_inhalt}">Hallo Leute</td>
								<td th:text="${thema.thema_ersteller}">Anonymous</td>
								<td class="btn btn-large btn-default"><a href="#"
									th:href="@{'/thema/' + ${thema.thema_id} + '/beitrag'}">anschauen</a></td>
							</tr>
						</th:block>
					</table>
				</div>
				<aside class="sidebar"></aside>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer">&copy; 2015
			Community</footer>
	</div>
</body>
</html>