<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forum</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
</head>
<body onload='document.f.j_username.focus();'>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container"></div>
			<div class="content">
				<h1>Forum</h1>
				<p>Unten sehen Sie unsere Foren. Wählen Sie einen Thread aus
					oder erstellen Sie einen neuen.</p>
				<p>
				<h2>Ankündigungen</h2>
				</p>

				<p>
				<h2>Allgemeines Diskussionsforum</h2>
				</p>
				<li><a href="/faq" th:href="@{/faq}">FAQ</a></li>

				<h1>Neuen Beitrag erstellen</h1>
				<form th:object="${thema}" th:action="@{/thema/add}"
					method="post">
					<fieldset>

						<label for="thema_inhalt">Inhalt</label> <input type="text"
							name="thema_inhalt" id="thema_inhalt"
							th:field="*{thema_inhalt}" /> <br /> <label
							for="thema_ersteller">Beitrag Ersteller</label> <input
							type="text" name="thema_ersteller" id="thema_ersteller"
							th:field="*{thema_ersteller}" /> <br /> <input type="submit"
							value="Beitrag erstellen" />
					</fieldset>
				</form>
				<h3>Themen</h3>
				<table>
					<tr>
						<th width="120">Thema</th>
						<th width="120"></th>
					</tr>
					<th:block th:each="thema : ${listThema}">
						<tr>
							<td th:text="${thema.thema_inhalt}">Hallo Leute</td>
							<td th:text="${beitrag.thema_ersteller}">Anonymous</td>
							<td th:href="@{/{thema_id}/listBeitrag}">anschauen</td>
						</tr>
					</th:block>
				</table>
			</div>
			<aside class="sidebar">Sidebar</aside>
		</div>
		<footer th:replace="fragments/footer :: footer">&copy; 2015
			Community</footer>
	</div>
</body>
</html>