<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container">
				<div class="content">

					<form class="form-narrow form-horizontal" action="#"
						th:object="${gruppe}" th:action="@{/gruppe}" method="post">
						<fieldset>
							<legend>Erstelle eine Gruppe</legend>
							<div class="form-group">
								<label for="gruppenname" class="col-lg-2 control-label"></label>
								<div class="col-lg-10">
									<input class="form-control" type="text"
										th:field="*{gruppenname}" id="gruppenname" name="gruppenname"
										placeholder="Gruppenname" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<input type="submit" class="btn btn-default"
										value="Bestaetigen" />
								</div>
							</div>
						</fieldset>
					</form>

					<!-- Wenn der User keine Gruppe hat springt es in folgenden Codeblock -->
					<table class="table">
						<th:block th:each="gruppe : ${listGruppe}">
							<tr>
								<td th:text="${gruppe.gruppenname}">Hallo Leute</td>
								<td class="btn btn-large btn-default"><a href="#"
									th:href="@{'/gruppe/' + ${gruppe.gruppenname} + '/beitreten'}">beitreten</a></td>
							</tr>
						</th:block>
					</table>

				<h1>WoL</h1>
				<p></p>
				<p th:text="${#httpServletRequest.remoteUser}"></p>
			</div>
			<aside class="sidebar"></aside>
		</div>
	</div>




	<footer th:replace="fragments/footer :: footer">&copy; 2015
		Community</footer>
	</div>

</body>
</html>