<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Neue Frage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>

<p th:text="${message}"></p>
	<form th:action="@{/frage/add}" th:object="${frage}" method="post">
		<div>
			<label for="fragentext"> Frage: </label><input type="text" name="fragetext" id="fragetext" th:field="*{fragetext}" /> <!-- for bezieht sich auf den Attributnamen in der Klasse Frage -->
		</div>
		<div>
			<label for="kategorie"> Kategorie: </label><input type="text" name="kategorie" id="kategorie" th:field="*{kategorie}" /> <!-- for bezieht sich auf den Attributnamen in der Klasse Frage -->
		</div>
		<div>
			<label for="antwort_a"> Antwort a:	</label><input type="text" name="antwort_a" id="antwort_a" th:field="*{antwort_a}"/> <!-- zw. for und = keine Leerzeichen -->
		</div>
			<div>
			<label for="antwort_b"> Antwort b </label><input type="text" name="antwort_b" id="antwort_b" th:field="*{antwort_b}"/>
		</div>
		
			<div>
			<label for="antwort_c"> Answer c: </label><input type="text" name="antwort_c" id="antwort_c" th:field="*{antwort_c}"/>
			
		</div>
		
			<div>
			<label for="antwort_d"> Answer d: </label><input type="text" name="antwort_d" id="antwort_d" th:field="*{antwort_d}"/>

		</div>
		
		<div>
			<input type="submit" value="Frage erstellen" name="Frage_erstellen" />
			<input type="reset" value="Zurücksetzen" name="Frage_zuruecksetzen" />

		</div>
		<footer th:replace="fragments/footer :: footer">&copy; 2015
			Community</footer>
	</div>
</body>
</html>