<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.springframework.org/security/tags">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<title>BenutzerInfo</title>
</head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container">
				<div class="content">
					<h2>Nachricht</h2>

					<div>
						<h3 th:text="${message}">User Info</h3>
						<p class="navbar-text pull-right">
							Logged in as <a href="#" class="navbar-link"
								th:text="${#httpServletRequest.remoteUser}">Username</a>
						</p>

						<!-- Model Benutzer als Datensatz String hibernate.model + SQL-->
						<div>Beschreibung</div>
						<div>Hobbies</div>
						<div>Persönliche Daten: Lieblingsfächer, ... etc.</div>

						<!-- Model Benutzer als Datensatz String hibernate.model + SQL-->
						<div>Profilbild</div>

						<!-- ManyToMany Beziehung hibernate.model + SQL-->
						<div>Achievements</div>
						<div>Badges</div>

						<div>Postfach</div>
					</div>
				</div>
				<aside class="sidebar"></aside>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer">&copy; 2015
			Community</footer>
	</div>

</body>
</html>