<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.springframework.org/security/tags">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<title>BenutzerInfo</title>
</head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container">
			<div class="content">
				<h2>Nachricht</h2>

				<div>
					<h3 th:text="${message}">User Info</h3>
					<p class="navbar-text pull-right">
						Logged in as <a href="#" class="navbar-link"
							th:text="${#httpServletRequest.remoteUser}">Username</a>
					</p>

				</div>
				<!-- Bearbeiten von Password -->
				<form class="form-narrow form-horizontal" th:object="${benutzer}"
					th:action="@{/benutzerprofil/edit}" method="post">
					<fieldset>
						<legend>Bearbeite</legend>
						<div class="form-group">
							<div>
								<input type="hidden" name="benutzername"
									th:value="${#httpServletRequest.remoteUser}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Password</label><br />
							<div class="col-lg-10">
								<input type="password" name="password" class="form-control"
									th:value="*{password}"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<button type="submit" class="btn btn-default">Update</button>
							</div>
						</div>
					</fieldset>
				</form>

				<!-- Bearbeiten von Email -->
				<form class="form-narrow form-horizontal" th:object="${benutzer}"
					th:action="@{/benutzerprofil/edit}" method="post">
					<fieldset>
						<legend>Bearbeite</legend>
						<div class="form-group">
							<div>
								<input type="hidden" name="benutzername"
									th:value="${#httpServletRequest.remoteUser}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Email</label><br />
							<div class="col-lg-10">
								<input type="email" name="email" class="form-control"
									th:value="*{email}" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<button type="submit" class="btn btn-default">Update</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<aside class="sidebar"></aside>
		</div>
		</div>
		<footer th:replace="fragments/footer :: footer">&copy; 2015
			Community</footer>
	</div>

</body>
</html>