<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

<div th:fragment="content">
	<!-- hier wird eine liste ausgegeben -->
	<table class="table">
	    <!-- wichtig hier das listObject muss genauso im Controller stehen als Variable wenn er sie zurückgibt -->
		<th:block th:each="benutzer : ${listbenutzer}">
			<tr>
				<!-- th:text gibt einen Text aus. Das $ steht für ein Objekt. {Modelklasse.ModellAttribut} Dies wird dann angezeigt wie im Modell beispeil user.name gibt den Namen des Users an -->
				<td th:text="${benutzer.benutzername}">Hallo Leute</td>
				<td th:text="${benutzer.email}">Hallo Leute</td>
				<td th:text="${benutzer.beschreibung}">Hallo Leute</td>
			</tr>
		</th:block>
	</table>
</div>
	
</body>
</html>