<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/security/tags">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BenutzerInfo</title>
</head>
<body>
	<h2>Nachricht</h2>

	<div>
		<h3 th:text="${message}">User Info</h3>
		|
		<h3>
			<a href="#" th:href="@{/abmelden}">Abmelden</a>
		</h3>
		<p class="navbar-text pull-right">
			Logged in as <a href="#" class="navbar-link"
				th:text="${#httpServletRequest.remoteUser}">Username</a>
		</p>

	</div>
</body>
</html>