<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.springframework.org/security/tags">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<title>BenutzerInfo</title>
</head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container">
				<div class="content">

					<form class="form-narrow form-horizontal"
						action="/dateiupload/upload" enctype="multipart/form-data"
						th:action="@{/dateiupload/upload}  + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}"
						method="post">
						<th:block th:if="${type != null}">
							<div class="alert alert-dismissable"
								th:classappend="'alert-' + ${type}">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<span th:text="${message}">Es wurde etwas nicht richtig
									gemacht</span>
							</div>
						</th:block>

						Datei zum Hochladen: <input type="file" name="meineDatei" /><br />
						<button class="btn btn-default" type="submit">Upload</button>
					</form>

					<aside class="sidebar"></aside>
				</div>
			</div>
			<footer th:replace="fragments/footer :: footer">&copy; 2015
				Community</footer>
		</div>
	</div>
</body>
</html>