<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/header :: header">World of
			Learning</header>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="middle">
			<div class="container">
				<div class="content">
					<h1>World of Learning</h1>
					<p>Das Portal fuer dein ganz eigenes Lernerlebnis</p>
					<p th:text="${#httpServletRequest.remoteUser}"></p>


					<!-- ManyToMany Fragment abfrage von Freunde neuen Table Foreign Freund(Benutzername) Freundvon (Benutzername)   -->
					<table class="table">
						<!-- wichtig hier das listObject muss genauso im Controller stehen als Variable wenn er sie zurückgibt -->
						<th:block th:each="benutzer : ${listFreunde}">
							<tr>

								<td th:text="${benutzer.benutzername}">Hallo Leute</td>
								<td class="btn btn-large btn-default"><a href="#"
									th:href="@{'/freunde/undo/' + ${benutzer.benutzername}}">Freundschaft
										kündigen</a></td>
							</tr>
						</th:block>
					</table>

					<table class="table">
						<!-- wichtig hier das listObject muss genauso im Controller stehen als Variable wenn er sie zurückgibt -->
						<th:block th:each="benutzer : ${listkeineFreunde}">
							<tr>

								<td th:text="${benutzer.benutzername}">Hallo Leute</td>
								<td class="btn btn-large btn-default"><a href="#"
									th:href="@{'/freunde/add/' + ${benutzer.benutzername}}">Als
										Freund hinzufügen</a></td>
							</tr>
						</th:block>
					</table>

					<table class="table">
						<!-- wichtig hier das listObject muss genauso im Controller stehen als Variable wenn er sie zurückgibt -->
						<th:block th:each="benutzer : ${listBenutzer}">
							<tr>

								<td th:text="${benutzer.benutzername}">Hallo Leute</td>
								<td class="btn btn-large btn-default"><a href="#"
									th:href="@{'/freunde/add/' + ${benutzer.benutzername}}">Als
										Freund hinzufügen</a></td>
							</tr>
						</th:block>
					</table>
				</div>
				<aside class="sidebar"></aside>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer">&copy; 2015
			Community</footer>
	</div>

</body>
</html>