<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Anmelden</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
</head>

<body>
<p th:text="${message}"></p>
	<form th:action="@{/j_spring_security_check}" method="post">
		<div>
			<label> User Name : <input type="text" name="benutzername" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Login" />
		</div>
	</form>
</body>
</html>