<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Anmelden</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../../ressources/css/core.css" th:href="@{/css/core.css}" />
</head>

<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.abmelden}">You have been logged out.</div>
	<form th:action="@{anmelden}" method="post">
		<div>
			<label> User Name : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
</html>