<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="nav" th:fragment="navigation">
		<div class="sidebar">
			<div class="nav navbar-nav">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"></a>
			</div>
			<div class="nav navbar-nav">
				<ul class="nav navbar-nav">
					<li><a href="/" th:href="@{/}">Startseite</a></li>
					<li><a href="/impressum" th:href="@{/impressum}">Impressum</a></li>
					<li th:if="${#httpServletRequest.remoteUser != null}"><a href="/chat" th:href="@{/chat}">Chat</a></li>
					<li th:if="${#httpServletRequest.remoteUser != null}"><a href="/beitrag" th:href="@{/forum}">Forum</a></li>
					<li th:if="${#httpServletRequest.remoteUser != null}"><a href="/benutzerinfo" th:href="@{/benutzerinfo}">Benutzer Info</a></li>
					<li th:if="${#httpServletRequest.remoteUser != null}"><a href="/benutzerprofil" th:href="@{/benutzerprofil}">Mein Profil</a></li>
					<li th:if="${#httpServletRequest.remoteUser == null}"><a
						class="btn btn-large btn-success" href="/anmelden"
						th:href="@{/anmelden}">Anmelden</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>